/* 
*,:focus {
  outline: none
} */

html {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(0,0,0,var(--tw-bg-opacity));
  color: rgba(255,255,255,var(--tw-text-opacity));
  font-family: urbane-rounded,sans-serif
}

.main-content {
  overflow: hidden
}

.container {
  max-width: 83.4375rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  width: 100%
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  line-height: 1.875
}


h4, h3 {
  font-family: interstate,sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -.0625rem;
  line-height: 1.5;
  margin-bottom: 1.25rem
}


h4, h5 {
  font-family: interstate,sans-serif;
  font-weight: 700;
  line-height: 1.5
}

h5 {
  font-size: 1rem;
  margin-bottom: 1rem
}

p {
  margin-bottom: 1rem
}

.btn,.branch-card__inner,.branch-card__title:before {
  transition: all .2s linear
}

.btn {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  align-items: center;
  background-color: rgba(0,147,255,var(--tw-bg-opacity));
  border-radius: 9999px;
  color: rgba(255,255,255,var(--tw-text-opacity));
  cursor: pointer;
  display: inline-flex;
  font-family: interstate,sans-serif;
  height: 3rem;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%
}

.btn:hover {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(255,255,255,var(--tw-bg-opacity));
  color: rgba(0,147,255,var(--tw-text-opacity))
}


.element--pb-default {
  padding-bottom: 4rem
}

.element--pt-default {
  padding-top: 4rem
}

.branch__filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem
}

.branch__filter h5 {
  font-family: urbane-rounded,sans-serif;
  font-weight: 300
}

.branch__filter select {
  --tw-text-opacity: 1;
  border-radius: 1.875rem;
  border-width: 0;
  color: rgba(0,0,0,var(--tw-text-opacity));
  min-height: 3.125rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.branch__filter--pc {
  display: none
}

.branch__map-align {
  border-radius: 3.125rem;
  margin-bottom: 2.75rem;
  overflow: hidden;
  position: relative;
  width: 100%
}

.branch__map-align:before {
  content: "";
  display: block;
  padding-top: 120.9%;
  width: 100%
}

.branch__map-image {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9
}

.branch__cols {
  display: flex;
  flex-direction: column-reverse
}

.branch__map-popup {
  --tw-text-opacity: 1;
  color: rgba(0,0,0,var(--tw-text-opacity));
  width: 15.625rem
}

.branch__map-popup h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 1rem
}

.branch__map-popup p {
  margin-bottom: .25rem
}

@media (min-width: 548px) {
  .branch__filter {
      align-items:center;
      flex-direction: row;
      justify-content: space-between
  }

  .branch__filter h5 {
      margin-bottom: 0;
      padding-right: .75rem
  }

  .branch__filter select {
      max-width: 15.625rem;
      width: 100%
  }
}

@media (min-width: 768px) {
  .branch__cols {
      flex-direction:row;
      margin-left: -1rem;
      margin-right: -1rem
  }

  .branch__list {
      width: 41.666667%
  }

  .branch__list,.branch__map {
      padding-left: 1rem;
      padding-right: 1rem
  }

  .branch__map {
      width: 58.333333%
  }

  .branch__map-align {
      height: 100%;
      margin-bottom: 0
  }

  .branch__grid {
      max-height: 50rem;
      overflow-x: hidden;
      overflow-y: auto
  }

  .branch__grid::-webkit-scrollbar {
      background-color: #e3e3e3;
      border-radius: .625rem;
      width: .75rem
  }

  .branch__grid::-webkit-scrollbar-thumb {
      background-color: #c9c9c9;
      border-radius: .625rem
  }

  .branch__filter--mobile {
      display: none
  }

  .branch__filter--pc {
      display: flex;
      margin-bottom: 3rem
  }
}

@media (min-width: 1024px) {
  .branch__grid {
      display:flex;
      flex-wrap: wrap;
      margin-left: -.5rem;
      margin-right: -.5rem
  }
}

.branch-card {
  margin-top: 1.25rem;
  width: 100%
}

.branch-card:first-child {
  margin-top: 0
}

.branch-card__inner {
  --tw-bg-opacity: 1;
  background-color: rgba(54,54,54,var(--tw-bg-opacity));
  border-radius: 1.5625rem;
  display: block;
  height: 100%
}

.branch-card__inner:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(0,147,255,var(--tw-bg-opacity))
}

.branch-card__inner:hover .download__icon svg path {
  fill: #fff
}

.branch-card__inner:hover .btn,.branch-card__inner:hover form input[type=submit],form .branch-card__inner:hover input[type=submit] {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(255,255,255,var(--tw-bg-opacity));
  color: rgba(0,0,0,var(--tw-text-opacity))
}

.branch-card__title {
  margin-bottom: 0;
  padding: 1.25rem 2.5rem 1.25rem 1.25rem;
  position: relative
}

.branch-card__title:before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.846' height='11.544'%3E%3Cpath data-name='Path 902' d='m2.121 2.123 7.3 7.3 7.3-7.3' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='3'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: block;
  height: 1rem;
  position: absolute;
  right: .9375rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem
}

.branch-card__title.is-active:before {
  transform: translateY(-50%) rotate(180deg)
}

.branch-card.active .branch-card__content {
  display: block
}

.branch-card__content {
  display: none;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.branch-card__content ul li {
  align-items: center;
  display: flex;
  font-size: .75rem;
  margin-bottom: 1.25rem
}

.branch-card__content ul li span {
  display: inline-block;
  font-weight: 700;
  padding-right: .5rem
}

.branch-card__content ul li.address {
  flex-direction: column
}

.branch-card__content ul li.address * {
  width: 100%
}

.branch-card__content ul li.address address {
  font-style: normal
}

.branch-card__content.is-active {
  display: block
}

.branch-card__content .btn {
  min-width: auto;
  width: 100%
}

@media (min-width: 768px) {
  .branch-card {
      margin-top:2rem;
      padding-left: .5rem;
      padding-right: .5rem;
      width: 100%
  }

  .branch-card__inner {
      display: flex;
      flex-direction: column;
      padding: 1.25rem .75rem;
      text-align: center
  }

  .branch-card__title {
      margin-bottom: 1.25rem;
      min-height: 3.75rem;
      padding: 0
  }

  .branch-card__title:before {
      display: none
  }

  .branch-card__content {
      display: block;
      padding: 0
  }

  .branch-card__content,.branch-card__content ul {
      display: flex;
      flex: 1 1 0%;
      flex-direction: column
  }

  .branch-card__content ul li {
      flex-wrap: wrap;
      justify-content: center
  }
}

@media (min-width: 1024px) {
  .branch-card {
      padding-left:.5rem;
      padding-right: .5rem;
      width: 50%
  }

  .branch-card:nth-child(2) {
      margin-top: 0
  }
}

